@model EventViewModel

@{
    ViewData["Title"] = "Browse";
}


<div class="container body-content">
    <h2>Browse Events</h2>
    <hr />
    <div class="panel panel-default todo-panel">
        <div class="panel-heading">Latest Events</div>
        <div class="table-responsive">
            <table id="browseData" style="width: 100%;" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Date:</td>
                        <td>Title:</td>
                        <td>Description:</td>
                        <td>Location:</td>
                    </tr>
                </thead>
                <tbody id="srchTable">
                    <!-- Begin Table Entries-->
                    @foreach (var item in Model.Events)
                    {
                    <tr>
                        
                        <td><a style="text-decoration: none; color: #333;" href="@Url.Action("Details", new { item.Id })">@item.DateAndTime.ToString("MM/dd/yyyy h:mm tt")</a></td>
                        <td><a style="text-decoration: none; color: #333;"href="@Url.Action("Details", new { item.Id })">@item.Title</a></td>
                        <td><a style="text-decoration: none; color: #333;"href="@Url.Action("Details", new { item.Id })">@item.Description</a></td>
                        <td><a style="text-decoration: none; color: #333;"href="@Url.Action("Details", new { item.Id })">@item.Location</a></td>
                    </tr>
                    }
                    <!-- End Table Entries-->
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
        </div>
    </div>
</div>

